// THEME COLORS
$primary-color: #FF9AA2;
$secondary-color: #FFB7B2;
$tertiary-color: #FFDAC1;
$quaternary-color: #E2F0CB;
$quinary-color: #BFEAD7;
$senary-color:#C7CEEA;

// STYLES
.App {
    font-family: 'Fredoka One', cursive;
}

h1 {
    color: $primary-color;
}
