// THEME COLORS
$primary-color: #0A9D80;
$secondary-color: #006753;
$tertiary-color: #81C6B8;
$quarnary-color: #FFFFFF;

$primary-font: 'Noto Sans', sans-serif;
$secondary-font: 'Economica', sans-serif;

$enable-responsive-font-sizes: true;

// STYLES
.App {
    font-family: $primary-font;
}

h1, h2 {
    color: $secondary-color;
}

h3 {
    color: $primary-color;
}

a {
    color: $primary-color !important;
}

.subheading {
    color: $secondary-color;
    margin: 0;
    font-size: 1.3em;

}

.slogan {
    color: $primary-color;
    margin: 0;
    font-size: 1.1em;
}

.logo {
    color: $secondary-color;
    font-family: $secondary-font;
    font-size: 3em;
}

.button {
    background-color: $primary-color !important;
    border-style: none !important;
}

small {
    color: $secondary-color;
    font-weight: bold;
}

footer {
    background-color: $secondary-color;
    color: $quarnary-color;
    padding: 2em 4em 2em 4em;
    margin-top: 5em;
}