// THEME COLORS
$primary-color: #FF9AA2;
$secondary-color: #FFB7B2;
$tertiary-color: #FFDAC1;
$quaternary-color: #E2F0CB;
$quinary-color: #BFEAD7;
$senary-color:#C7CEEA;

// STYLES
h1 {
    color: $tertiary-color;
}
